<div class="section-con">
    <nav>
        <input type="checkbox"
               id="radio2">
        <label for="radio2">
            <i class="fa fa-check"></i>
        </label>
        <span>天猫超市 <i class="fa fa-angle-right"></i> </span>
    </nav>
    <div class="content">
        <input type="checkbox"
               id="radio3">
        <label for="radio3">
            <i class="fa fa-check"></i>
        </label>
        <div class="content-img">
            <img src="Content/img/taobao_06.jpg" alt="">
        </div>
        <div class="cons">
            <div class="op-chara mt30"><a>【维达】手帕纸</a><a class="cancel">×</a></div>
            <div class="op-nums">
                <div class="price">￥6.9 <a>0.23KG</a></div>
                <div class="num"><a class="cal">-</a> <input type="text" value="1"><a class="add">+</a></div>
            </div>
        </div>
    </div>
    <div class="content">
        <input type="checkbox"
               id="radio4">
        <label for="radio4">
            <i class="fa fa-check"></i>
        </label>
        <div class="content-img">
            <img src="Content/img/taobao_10.jpg" alt="">
        </div>
        <div class="cons">
            <div class="op-chara mt30"><a>【天猫】维达蓝色经典</a><a class="cancel">×</a></div>
            <div class="op-nums">
                <div class="price">￥76.9 <a>3.3KG</a></div>
                <div class="num"><a class="cal">-</a> <input type="text" value="1"><a class="add">+</a></div>
            </div>
        </div>
    </div>
    <div class="content">
        <input type="checkbox"
               id="radio5">
        <label for="radio5">
            <i class="fa fa-check"></i>
        </label>
        <div class="content-img">
            <img src="Content/img/taobao_03.jpg" alt="">
        </div>
        <div class="cons">
            <div class="op-chara mt30"><a>【金龙鱼】调和油</a><a class="cancel">×</a></div>
            <div class="op-nums">
                <div class="price">￥69.9 <a>5.0KG</a></div>
                <div class="num"><a class="cal">-</a> <input type="text" value="1"><a class="add">+</a></div>
            </div>
        </div>
    </div>
    <div class="content">
        <input type="checkbox"
               id="radio6">
        <label for="radio6">
            <i class="fa fa-check"></i>
        </label>
        <div class="content-img">
            <img src="Content/img/taobao_06.jpg" alt="">
        </div>
        <div class="cons" style="border-bottom: 0">
            <div class="op-chara mt30"><a>【维达】手帕纸</a><a class="cancel">×</a></div>
            <div class="op-nums">
                <div class="price">￥6.9 <a>0.23KG</a></div>
                <div class="num"><a class="cal">-</a> <input type="text" value="1"><a class="add">+</a></div>
            </div>
        </div>
    </div>
    <nav class="mt20">
        <input type="checkbox"
               id="radio7">
        <label for="radio7">
            <i class="fa fa-check"></i>
        </label>
        <span>木木小姐的窝 <i class="fa fa-angle-right"></i> </span>
    </nav>
    <div class="content">
        <input type="checkbox"
               id="radio8">
        <label for="radio8">
            <i class="fa fa-check"></i>
        </label>
        <div class="content-img">
            <img src="Content/img/taobao_10.jpg" alt="">
        </div>
        <div class="cons" style="border-bottom: 0">
            <div class="op-chara mt30"><a>【天猫】维达蓝色经典</a><a class="cancel">×</a></div>
            <div class="op-nums">
                <div class="price">￥6.9 <a>0.23KG</a></div>
                <div class="num"><a class="cal">-</a> <input type="text" value="1"><a class="add">+</a></div>
            </div>
        </div>
    </div>
</div>
